<body id="blog">
  
  <%= render "recordings/header.html.erb"%> 

  <div id="posts">
    <div class="container">
      <%= show_alert_notice %>
      <div class="row">
        <div class="col-md-9">

<!-- to paginator -->
          <%= paginate @recordings, :window => 2 %>
<!-- from paginator --> 

<!-- to posts  -->
         <div class="post">         
         <% @recordings.each do |recording| %> 
            <%= link_to(image_tag(recording.webimage.image.url(:med),alt: reocrding.webimage.wi_name), arecord_path(recording), class: "pic") if recording.webimage_ids.length>0 %>
            <div class="title" style="font-size: 14px">
              <%= link_to recording.rec_header, arecord_path(recording) %>
            </div>            
            <div class="author">
              <%= image_tag(recording.user.webimages.first.image.url(:med),class: "avatar", alt: "author") if recording.user.webimage_ids.length>0 %>
              <%= recording.user.full_name + ', ' + recording.created_at.strftime('%B %C, %G') %>
            </div>
            <p style="font-size: 12px">
              <%= recording.rec_teaser.html_safe %>
            </p>
            <% if recording.rec_approved == 1 then %>
            <div style="text-align: center; font-size: 12px; background-color: #66CC99; width: 130px;">Approved!</div>
            <% else %>
            <div style="text-align: center; font-size: 12px; background-color: #9966CC; width: 130px;">Inapproved</div>
            <% end %>
            <%= link_to("Edit post", controller: "arecord" , action: "edit", id: recording) %><span style="width: 15px">  |  </span>
            <%= link_to("Edit user", controller: "administer_users" , action: "edit", id: recording.user_id) %><span style="width: 15px">  |  </span><%= link_to("Post preview", { controller: "arecord" , action: "preview", id: recording }, { :target => "_blank"} ) %><span style="width: 15px">  |  </span>
            <%= link_to("Destroy", { action: :destroy, controller: "arecord" , id: recording.id }, data: { confirm: "Are you sure?" }, method: :delete ) %>
            <hr>
          <% end %>
          </div>
<!-- from posts  -->

<!-- to paginator -->
          <%= paginate @recordings, :window => 2 %>
<!-- from paginator --> 
        </div>
        
        <%= render "right.html.erb" %>

      </div>
    </div>
  </div>

  <%= render "recordings/footer.html.erb"%> 

  <script type="text/javascript">
    $(function () {
      $(".search input:text").focus(function () {
        $(".icomoon-search").addClass("active");
      });
      $(".search input:text").blur(function () {
        $(".icomoon-search").removeClass("active");
      });
    });
  </script>

</body>
</html>



