<body id="blog">

  <%= render "recordings/header.html.erb"%>

  <div id="posts">
    <div class="container">
      <%= show_alert_notice %>
      <div class="row">
        <div class="col-md-9">

    <div class="panel-body">
    <%= form_for @user, url: administer_user_path, :html => { :autocomplete => "off", :id => 'f3', multipart: true } do |f| %>
      <div class="form-group">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>

      <style>
      .t1 {
        border: 2px none black;
        border-collapse: collapse;
      }
      .r1 {
        padding: 6px;
        text-align: right;
      }
      .l1 {
        padding: 6px;
        text-align: left;
        width: 90%;
      }
      input#recording_rec_header {
        width: 100%;
      }
      textarea#recording_rec_teaser {
        width: 100%;
      }
      </style>

      <div class="form-group">
        <table class="t1">
        <tr>
          <td class="r1"><%= f.label(:notifications) %></td>
          <td class="l1"><%= f.check_box :notifications %></td>
        </tr>
        <tr>
          <td class="r1"><%= f.label(:role) %></td>
          <td class="l1">
          <%= f.select :role , options_for_select([['admin','1'],['user','0']], :selected => @user.role) %>
          </td>
        </tr>
        <tr>
          <td class="r1">
            <%= f.label("Active ") %>
          </td>
          <td class="l1">
            <%= f.radio_button(:status,"1") %>
          </td>
        </tr>
        <tr>
          <td class="r1">
            <%= f.label("Banned ") %>
          </td>
          <td class="l1">
           <%= f.radio_button(:status,"0") %>
          </td>
        </tr>
        <tr>
          <td class="r1">
            <%= f.label("Email text ") %>
          </td>
          <td class="l1">
           <%= f.text_area(:message, cols: 50, rows: 4) %>
          </td>
        </tr>
        <tr>
          <td class="r1">
            <%= f.label("Send email") %>
          </td>
          <td class="l1">
           <%= check_box_tag :send_email %>
          </td>
        </tr>
        </table>
      </div>

      <%= f.label "Avatar image: " %><br />
      <%= link_to(image_tag(@user.profile_image.url(:avatar)),@user.profile_image.url) %><br /><br />
      <%= f.file_field :profile_image ,type: :file %>
      <br />

      <span class="submit" id="formBack">
        <a href="<%= session[:return_to] %>" class="button-clear">
        <span>Back</span>
        </a>
      </span>

      <button id="formSave" class="button-clear">
      <span>Save</span>
      </button>

    <% end %>
    </div>

      </div>
    </div>
  </div>

  <%= render "recordings/footer.html.erb"%>

  <script type="text/javascript">
    $(function () {
      $(".search input:text").focus(function () {
        $(".icomoon-search").addClass("active");
      });
      $(".search input:text").blur(function () {
        $(".icomoon-search").removeClass("active");
      });
    });
  </script>

</body>
</html>



